---
import { GitHub } from "./icons/indexIcons";
import Button from "./Button.astro";
import { PROJECTS } from "../data/projects";
---

{
  PROJECTS.map(({ title, description, github, image, tags }) => (
    <div class="flex flex-col gap-y-16">
      <article class="justify-center m-5 flex flex-col space-x-0 space-y-8 group md:justify-start md:flex-row md:space-x-8 md:space-y-0 md:px-20">
        <div class="w-full max-w-[580px] md:w-1/2 ">
          <div class=" relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              src={image}
              class="object-cover object-top w-full h-full transition duration-500 sm:h-full md:scale-110  md:group-hover:scale-105"
              alt={`Imagen del proyecto de ${title}`}
            />
          </div>
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-3xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <ul class="flex gap-x-4 flex-wrap my-4">
            {tags.map((tag) => (
              <li>
                <span
                  class={`my-2 flex gap-x-2 rounded-full text-xs font-semibold ${tag.class} py-2 px-2 items-center`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <Button href={github} icon={GitHub} text="Code" />
        </div>
      </article>
    </div>
  ))
}
